.not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
.not-found-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  column-gap: 27px;
}
.not-found-text {
  margin: 0;
  font: normal 700 24px/28px var(--main-font);
  color: var(--text-dark);
}
