.StepDonation {
  display: flex;
  flex-direction: column;
}

.StepDonation__title {
  font: normal 400 14px/150% var(--font-main);
}
.StepDonation__Values {
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
}
.StepDonation__value-option-label,
.StepDonation__custom-donation-option-label {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 65px;
  font: normal 600 18px/22px var(--font-main);
  color: #fff;
  cursor: pointer;
}
.StepDonation__value-option,
.StepDonation__custom-donation-option {
  position: absolute;
  visibility: hidden;
}
.StepDonation__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: 5px;
  background: rgba(0, 160, 146, 0.5);
}
.StepDonation__value-option:checked ~ .StepDonation__overlay,
.StepDonation__custom-donation-option:checked ~ .StepDonation__overlay {
  background: var(--turquoise);
}
.StepDonation__custom-donation {
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
}
.StepDonation__custom-donation-option-label {
  width: 200px;
}
.StepDonation__custom-donation-input {
  width: 200px;
  border-radius: 5px;
  padding-left: 20px;
}
.StepDonation__donation-type-label {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.StepDonation__donation-type {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 20px;
  visibility: hidden;
}
.StepDonation__donation-type-checkmark {
  position: absolute;
  width: 30px;
  height: 30px;
  border: 1px solid var(--turquoise);
}
.StepDonation__donation-type-checkmark::after {
  content: '';
  position: absolute;
  display: none;
}
.StepDonation__donation-type:checked ~ .StepDonation__donation-type-checkmark {
  background: var(--turquoise);
}
.StepDonation__donation-type:checked
  ~ .StepDonation__donation-type-checkmark::after {
  content: '';
  position: absolute;
  display: block;
  left: 50%;
  top: 50%;
  width: 15px;
  height: 20px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: translate(-50%, -65%) rotate(45deg);
}
