.StepPersonInfo {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}
.StepPersonInfo__label {
  display: block;
}

.StepPersonInfo__input {
  display: block;
  width: 100%;
  height: 60px;
  margin-top: 10px;
  padding-left: 20px;
  border-radius: 5px;
}
.StepPersonInfo__date-of-birth-label {
  width: 30%;
  cursor: pointer;
}
