:root {
  --white-text: rgb(230, 231, 231);
  --gray-text: rgb(125, 125, 125);
  --dark-gray-text: #64636a;
  --gray-border-transparent: rgb(125, 125, 125, 0.25);
  --filter-gray: invert(61%) sepia(5%) saturate(695%) hue-rotate(165deg)
    brightness(130%) contrast(89%);
  --search-input-width: 68%;
  --search-input-max-width: 720px;
  --guidelines-width: 720px;
  --cards-guidelines-with: 1440px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.text-crop {
  overflow: hidden;
  word-break: break-word;
  white-space: nowrap;
  text-overflow: ellipsis;
}

html,
body,
#root {
  height: 100%;
}

.App {
  display: flex;
  min-height: 100%;
  align-items: center;
  flex-direction: column;
  padding-top: 50px;
  background: linear-gradient(
    90deg,
    rgba(84, 98, 110, 1) 0%,
    rgba(84, 98, 110, 1) 0%,
    rgba(101, 114, 130, 1) 100%
  );
}

.cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  row-gap: 20px;
  padding: 50px 100px;
  width: 100%;
  max-width: var(--cards-guidelines-width);
}
.cards::after {
  content: '';
  min-width: 270px;
  max-width: 390px;
  width: 30%;
  height: 0;
}
