:root {
  --bg-blue: rgba(47, 128, 237, 1);
  --bg-green: rgba(39, 174, 96, 1);
  --bg-red: rgba(235, 87, 87, 1);
  --bg-gray: #e5e5e5;
  --bg-input: #efefef;
  --text-gray: rgba(146, 146, 146, 1);
  --text-dark: rgba(79, 79, 79, 1);
  --loader-border: #f3f3f3;
  --guidelines: 540px;
  --guidelines-search-results: 1140px;
  --filter-highlight: drop-shadow(2px 0px 4px #2f80ed);
  --max-z-index: 999;
  --main-font: 'Roboto', sans-serif;
  --error-color: #721c24;
  --error-background-color: #f8d7da;
  --error-border-color: #f5c6cb;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root,
.app {
  height: 100%;
}

html {
  font-family: 'Roboto', sans-serif;
}

.button {
  border: none;
  cursor: pointer;
}
.button:hover {
  filter: var(--filter-highlight);
}
.disabled {
  pointer-events: none;
}
