.page-link {
  margin-right: 5px;
  color: var(--bg-blue);
  text-decoration: none;
  cursor: pointer;
}
.page-link.active {
  text-decoration: underline;
}
.page-link:hover {
  filter: var(--filter-highlight);
}
.ellipsis {
  margin-right: 5px;
}
