.SearchBar {
  display: flex;
  width: 80%;
  max-width: 720px;
  height: 170px;
  background: rgb(77, 90, 101);
  border-radius: 5px;
  font-family: Nunito, sans-serif;
  color: var(--white-text);
}
